# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        npm ci
#        npm install -g @angular/cli
#        npm install -g @nrwl/cli

    - name: Build project
      run: npm run ng build github-actions --prod

    - name: Run affected tests
      run: npm run nx affected:test
#      run: npm run ng run github-actions:test

    - name: Run affected e2e
      run: npm run nx affected:e2e --headless

